<h1>Edit Blog Post</h1>

<%= render partial: "form", locals: {blog_post: @blog_post} %>

<%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "p-2 rounded bg-red-100 text-red-900 hover:bg-red-300" %>